body{
    background-image: url("./assets/pawel-czerwinski-MQQcZ-0Dg-k-unsplash.jpg");
    font-family: 'Roboto', sans-serif;
}

h3{
    text-align: center;
    padding: 10px 3px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #FCD5CE;
}

.navbar {
    background-color: #FAE1DD80;
    margin-bottom: 25px;
}

.contact-links svg{
    height: 30px;
}
.container {
    background-color: #FEC5BB85;
    border-radius: 8px;
    margin-bottom: 25px;
}

.landing {
    background-color: #4e3b38e6;
    color: #FFD7BA;
    text-align: center;
    margin-bottom: 25px;
}

.landing h3 {
    font-family: 'Monoton', cursive;
    font-size: 100px;
    font-weight: normal;
    text-shadow: 10px 10px 8px black;
}

#landing-text{
    padding: 100px;
}

#about-me-text {
    padding: 10px 20px;
}

.about-me {
    text-align: center;
}

.skills{
    text-align: center;
}
.skills svg {
    height: 50px;
    margin: 10px 0px;
}

a {
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    text-decoration: none;
}

.second-link {
    text-decoration: underline;
}

.card {
    background-color: #FCD5CE;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.row {
    margin: 10px 5px 10px 5px;
}

.card-deck {
    margin-bottom: 25px;
}

.card-img-top {
    border: 2px solid #FFD7BA;
    object-fit: cover;
    position: relative;
    height: 200px;
}

.form-group{
    text-align: center;
}

.submit {
    justify-self: center;
}

.headshot{
    border-radius: 10px;
    border: 3px solid #FFD7BA;
}

/* 
color palette:
https://coolors.co/fec5bb-fcd5ce-fae1dd-f8edeb-e8e8e4-d8e2dc-ece4db-ffe5d9-ffd7ba-fec89a
*FEC5BB
*FCD5CE
*FAE1DD
F8EDEB
FAE1DD
D8E2DC
ECE4DB
FFE5D9
*FFD7BA
FAE1DD
*/