body{
    background-image: url("./assets/pawel-czerwinski-MQQcZ-0Dg-k-unsplash.jpg");
    font-family: 'Roboto', sans-serif;
    /* background: rgba(0,0,0, 0.1); */
}

h3{
    text-align: center;
    padding: 3px 3px;
}

.navbar {
    background-color: #FAE1DD80;
    margin-bottom: 25px;
}

.container {
    background-color: #FEC5BB85;
    border-radius: 8px;
    margin-bottom: 25px;
}

.landing {
    background-color: #4e3b38e6;
    color: #FFD7BA;
    text-align: center;
    margin-bottom: 25px;
}

.landing h3 {
    font-family: 'Monoton', cursive;
    font-size: 100px;
    text-shadow: 10px 10px 8px black;
}

#landing-text{
    padding: 100px;
}

#about-me-text {
    padding: 10px 20px;
}
/* #personal-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#personal-list li {
    width: 50vw;
} */

.about-me {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    text-decoration: none;
}

.second-link {
    text-decoration: underline;
}

.card {
    background-color: #FCD5CE;
    border-radius: 5px;
}

.row {
    margin: 10px 5px 10px 5px;
}

.card-deck {
    margin-bottom: 25px;
}


/* #personal-list {
 height: 50px;	
 overflow: hidden;
 /* position: relative; */
 /*
 background: yellow;
 color: orange;
 border: 1px solid orange;
}
#personal-list {
 /* position: absolute; */
 /*
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 /*
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 /*
 -moz-animation: scroll-slow 25s linear infinite;
 -webkit-animation: scroll-slow 25s linear infinite;
 animation: scroll-slow 25s linear infinite;
}
/* Move it (define the animation) */
/*
@-moz-keyframes scroll-slow {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-slow {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-slow {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 /*
 -webkit-transform: translateX(100%); /* Browser bug fix */
 /*
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 /*
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 /*
 transform: translateX(-100%); 
 }
} */


/* 
color palette:
https://coolors.co/fec5bb-fcd5ce-fae1dd-f8edeb-e8e8e4-d8e2dc-ece4db-ffe5d9-ffd7ba-fec89a
FEC5BB
FCD5CE
FAE1DD
F8EDEB
E8E8E4
D8E2DC
ECE4DB
FFE5D9
FFD7BA
FEC89A
*/