body{
    background-color: #FAE1DD;
    font-family: 'Roboto', sans-serif;
}

h3{
    text-align: center;
    padding: 3px 3px;
}

.navbar {
    background-color: #FAE1DD;
}

.container {
    background-color: #FEC5BB;
}

.landing {
    background-color: #4e3b38;
    color: #FFD7BA;
    text-align: center;
    margin-bottom: 15px;
    
}

.landing h3 {
    font-family: 'Monoton', cursive;
    font-size: 100px;
    text-shadow: 10px 10px 8px black;
}

#landing-text{
    padding: 100px;
}

#personal-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#personal-list li{
    border: 2px solid #FFD7BA;
    border-radius: 3px;
}

.about-me {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    text-decoration: none;
}

.second-link {
    text-decoration: underline;
}

.card {
    background-color: #FCD5CE;
}

.row {
    margin: 10px 5px 10px 5px;
}

.card-deck {
    margin-bottom: 8px;
}
/* 
color palette:
https://coolors.co/fec5bb-fcd5ce-fae1dd-f8edeb-e8e8e4-d8e2dc-ece4db-ffe5d9-ffd7ba-fec89a
FEC5BB
FCD5CE
FAE1DD
F8EDEB
E8E8E4
D8E2DC
ECE4DB
FFE5D9
FFD7BA
FEC89A
*/